* {
  -webkit-text-size-adjust: 100%; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body {
  background-color: white; }

.logo {
  width: 52px;
  height: 52px; }
  .logo__image {
    max-width: 100%; }

.hidden-pc {
  display: none; }
  @media screen and (max-width: 640px) {
    .hidden-pc {
      display: inherit; } }

@media screen and (max-width: 640px) {
  .hidden-sp {
    display: none; } }

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

a.link-underline--cancel {
  text-decoration: none;
  color: inherit; }
  a.link-underline--cancel:hover {
    text-decoration: none;
    color: gray; }

.nav > li > a {
  text-decoration: none; }

.nav-tabs > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */ }

.nav-tabs {
  text-align: center; }

.topProjectIndentXxs {
  padding-left: 0.5vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentXxs {
      padding-left: 0; } }

.topProjectIndentXs {
  padding-left: 1.5vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentXs {
      padding-left: 0; } }

.topProjectIndentSm {
  padding-left: 3vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentSm {
      padding-left: 0; } }

.topProjectIndentMd {
  padding-left: 4.2vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentMd {
      padding-left: 0; } }

.topProjectIndentLg {
  padding-left: 6.3vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentLg {
      padding-left: 0; } }

.topProjectIndentXlg {
  padding-left: 7.8vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentXlg {
      padding-left: 0; } }

.topProjectIndentXxlg {
  padding-left: 9.3vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentXxlg {
      padding-left: 0; } }

.topProjectIndentXxxlg {
  padding-left: 10.8vw; }
  @media screen and (max-width: 640px) {
    .topProjectIndentXxxlg {
      padding-left: 0; } }

.topProjectPaddingXxs {
  padding-right: 3vw; }
  @media screen and (max-width: 640px) {
    .topProjectPaddingXxs {
      padding-right: 0; } }

.topProjectPaddingXs {
  padding-right: 5vw; }
  @media screen and (max-width: 640px) {
    .topProjectPaddingXs {
      padding-right: 0; } }

.topProjectPaddingSm {
  padding-right: 6.5vw; }
  @media screen and (max-width: 640px) {
    .topProjectPaddingSm {
      padding-right: 0; } }

.topProjectPaddingMd {
  padding-right: 8vw; }
  @media screen and (max-width: 640px) {
    .topProjectPaddingMd {
      padding-right: 0; } }

.topProjectPaddingLg {
  padding-right: 10vw; }
  @media screen and (max-width: 640px) {
    .topProjectPaddingLg {
      padding-right: 0; } }

.topProjectPaddingXlg {
  padding-right: 11vw; }
  @media screen and (max-width: 640px) {
    .topProjectPaddingXlg {
      padding-right: 0; } }

.topHeader {
  height: 90px;
  z-index: 1; }
  @media screen and (max-width: 640px) {
    .topHeader {
      height: 52px; } }
  .topHeader__logo {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-left: 5vw;
    padding-top: 22px; }
    @media screen and (max-width: 640px) {
      .topHeader__logo {
        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: white; } }
    .topHeader__logo__image {
      max-height: 100%;
      width: inherit; }
  .topHeader__hamburger__menu {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1001; }
    @media screen and (max-width: 640px) {
      .topHeader__hamburger__menu {
        top: 54px; } }

.hamburger {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0vw;
  width: 90px;
  height: 90px;
  cursor: pointer; }
  @media screen and (max-width: 640px) {
    .hamburger {
      width: 52px;
      height: 52px; } }
  .hamburger__line {
    position: absolute;
    width: 45px;
    height: 5px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    @media screen and (max-width: 640px) {
      .hamburger__line {
        width: 26px;
        height: 3px; } }
    .hamburger__line--top {
      top: 22px; }
      @media screen and (max-width: 640px) {
        .hamburger__line--top {
          top: 16px; } }
    .hamburger__line--mid {
      top: 38px; }
      @media screen and (max-width: 640px) {
        .hamburger__line--mid {
          top: 26px; } }
    .hamburger__line--bot {
      top: 54px; }
      @media screen and (max-width: 640px) {
        .hamburger__line--bot {
          top: 36px; } }
  .hamburger__gnavs__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 5vw;
    font-size: 1.8vw;
    border-bottom: 1px solid gray;
    padding-left: 5vw;
    background-color: #0e1f3c;
    color: #fff; }
    @media screen and (max-width: 640px) {
      .hamburger__gnavs__item {
        height: 10vw;
        font-size: 3vw; } }
    .hamburger__gnavs__item:hover {
      background-color: gray; }

.footer {
  background-color: #0e1f3c;
  color: #fff;
  padding: 30px 15px 30px 30px;
  position: relative; }
  .footer--left {
    display: inline-block;
    width: 45%;
    vertical-align: top; }
    @media screen and (max-width: 640px) {
      .footer--left {
        margin: 0 auto;
        display: block; } }
  .footer__logo {
    text-align: right;
    padding-right: 60px;
    margin-top: 25px; }
    @media screen and (max-width: 640px) {
      .footer__logo {
        text-align: center;
        padding-right: 4vw;
        margin-top: 0; } }
    .footer__logo__image {
      height: 4vw; }
      @media screen and (max-width: 640px) {
        .footer__logo__image {
          height: 6vw; } }
  .footer--right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-left: 1px solid gray; }
    @media screen and (max-width: 640px) {
      .footer--right {
        display: none; } }
  .footer__copyright {
    font-size: 0.4rem;
    opacity: 0.5;
    position: absolute;
    left: 10px;
    bottom: 10px; }
    @media screen and (max-width: 640px) {
      .footer__copyright {
        left: 1vw;
        bottom: 1vw; } }
  .footer__gnavs--left {
    display: inline-block;
    vertical-align: top;
    font-size: 1.8vw;
    padding-left: 3vw;
    margin-right: 4vw; }
  .footer__gnavs--right {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    font-size: 1.8vw; }
  .footer__gnavs__item {
    padding: 0.3vw;
    font-size: 1vw; }

.project {
  padding: 5vw 0 2vw 0; }
  @media screen and (max-width: 640px) {
    .project {
      height: 60vw;
      padding: 1vw 0 1vw 0; } }
  .project__left {
    display: inline-block;
    width: 65%;
    height: 33vw;
    position: relative;
    left: -4vw;
    vertical-align: top; }
    @media screen and (max-width: 640px) {
      .project__left {
        height: 60vh;
        width: 20vw;
        position: static; } }
  .project__photo {
    height: 100%;
    width: 100%; }
    @media screen and (max-width: 640px) {
      .project__photo {
        height: 60vw; } }
  .project__right {
    width: 50%;
    height: 25vw;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 10vw; }
    @media screen and (max-width: 640px) {
      .project__right {
        width: 60%;
        position: static;
        padding-left: 7vw;
        padding-top: 5vw; } }
    .project__right__upper {
      height: 30%;
      width: 100%;
      position: relative; }
    .project__right__num {
      height: 100%;
      width: 5%;
      display: inline-block;
      font-size: 12vw;
      color: #6671ab;
      position: relative;
      vertical-align: top; }
      .project__right__num--BigBlue {
        position: absolute;
        top: -8vw;
        left: -3vw; }
        @media screen and (max-width: 640px) {
          .project__right__num--BigBlue {
            left: -2vw; } }
        @media screen and (max-width: 640px) {
          .project__right__num--BigBlue--3rd {
            left: 0; } }
    .project__right__title {
      width: 65%;
      display: inline-block;
      vertical-align: bottom;
      font-size: 3vw;
      margin-bottom: 1.5vw; }
      @media screen and (max-width: 640px) {
        .project__right__title {
          margin-left: 1vw; } }
      .project__right__title--3rd {
        margin-left: 1vw; }
        @media screen and (max-width: 640px) {
          .project__right__title--3rd {
            margin-left: 5vw; } }
    .project__right__titleBorder {
      border-top: 2px solid gray;
      margin-left: 6%;
      width: 100%; }
      .project__right__titleBorder--long {
        width: 105%;
        margin-left: 8%; }
    .project__right__lower {
      width: 100%;
      margin-left: 3vw;
      padding-top: 2vw; }
      @media screen and (max-width: 640px) {
        .project__right__lower {
          margin-left: 0; } }
      .project__right__lower--3rd {
        margin-left: 4vw;
        width: 110%; }
        @media screen and (max-width: 900px) {
          .project__right__lower--3rd {
            width: 105%; } }
        @media screen and (max-width: 640px) {
          .project__right__lower--3rd {
            margin-left: 0; } }

@media screen and (max-width: 640px) {
  .project1 {
    padding-top: 5vw; } }

.project2 {
  padding: 5vw 0 4vw 0;
  position: relative; }
  @media screen and (max-width: 640px) {
    .project2 {
      position: static;
      height: 60vw;
      padding: 1vw 0 1vw 0; } }
  .project2__inner {
    position: relative; }
  .project2__left {
    width: 60%;
    height: 30vw;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 0;
    text-align: right;
    z-index: 2; }
    @media screen and (max-width: 640px) {
      .project2__left {
        position: absolute;
        left: 20vw;
        padding-top: 5vw; } }
    .project2__left__upper {
      height: 25%;
      width: 100%;
      position: relative; }
      @media screen and (max-width: 640px) {
        .project2__left__upper {
          left: -15vw; } }
      @media screen and (max-width: 640px) {
        .project2__left__upper--2nd {
          left: -11vw; } }
    .project2__left__num {
      height: 100%;
      width: 5%;
      display: inline-block;
      font-size: 12vw;
      color: #70b3d3;
      position: relative;
      vertical-align: top; }
      .project2__left__num--BigBlue {
        position: absolute;
        top: -8vw;
        left: -5vw; }
    .project2__left__title {
      display: inline-block;
      vertical-align: top;
      font-size: 3vw;
      text-align: left;
      margin-top: 2vw;
      margin-right: 8vw; }
      @media screen and (max-width: 640px) {
        .project2__left__title--4th {
          margin-right: 4vw; } }
    .project2__left__lower {
      height: 80%;
      width: 100%;
      margin-left: 7vw;
      text-align: left; }
  .project2__right {
    display: inline-block;
    width: 65%;
    height: 33vw;
    position: absolute;
    right: -3.9vw;
    vertical-align: top; }
    @media screen and (max-width: 640px) {
      .project2__right {
        position: absolute;
        left: 0;
        width: 20vw;
        height: 60vh; } }
  .project2__photo {
    height: 100%;
    width: 100%; }
    @media screen and (max-width: 640px) {
      .project2__photo {
        width: 20vw;
        height: 60vw; } }

@media screen and (max-width: 760px) {
  .project3 {
    padding-bottom: 4vw; } }

@media screen and (max-width: 640px) {
  .project3 {
    padding-bottom: 1vw; } }

@media screen and (max-width: 350px) {
  .project3 {
    padding-bottom: 5vw; } }

.projectText {
  display: inline-block;
  margin-top: 0.8vw;
  font-size: 1.5vw; }
  @media screen and (max-width: 640px) {
    .projectText {
      width: inherit;
      margin-top: 0;
      font-size: 2.5vw; } }

.line--top--toCloseBtn {
  top: 38px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  @media screen and (max-width: 640px) {
    .line--top--toCloseBtn {
      top: 26px; } }

.line--mid--toCloseBtn {
  opacity: 0; }

.line--bot--toCloseBtn {
  top: 38px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }
  @media screen and (max-width: 640px) {
    .line--bot--toCloseBtn {
      top: 26px; } }

.topCover {
  position: relative;
  margin-bottom: 30px; }
  .topCover__eyecatch {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    margin: auto; }
    @media screen and (max-width: 640px) {
      .topCover__eyecatch {
        top: 45px; } }
    .topCover__eyecatch__title {
      height: 4.2vw; }
      @media screen and (max-width: 640px) {
        .topCover__eyecatch__title {
          height: 5.6vw; } }
  @media screen and (max-width: 640px) {
    .topCover__image-list {
      padding-top: 140px;
      margin-bottom: 50px; } }

.topCover-image {
  position: relative;
  float: left;
  width: 33.33333333%;
  height: 80vw;
  max-height: 800px; }
  @media screen and (max-width: 640px) {
    .topCover-image {
      clear: both;
      width: 100%;
      height: 50vw; } }
  .topCover-image--left {
    background-image: url("../img/top/cover/left.png"); }
  .topCover-image--center {
    background-image: url("../img/top/cover/center.png"); }
  .topCover-image--right {
    background-image: url("../img/top/cover/right.png"); }
  .topCover-image__filter--left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff; }
  .topCover-image__outer-circle {
    background-color: #fff;
    width: 50%;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 50%;
    border-radius: 100%; }
    @media screen and (max-width: 640px) {
      .topCover-image__outer-circle {
        width: 45%;
        padding-top: 45%; } }
    .topCover-image__outer-circle--left {
      top: 180px; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle--left {
          top: 5%; } }
    .topCover-image__outer-circle--center {
      top: 330px; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle--center {
          top: 5%; } }
    .topCover-image__outer-circle--right {
      top: 210px; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle--right {
          top: 5%; } }
    .topCover-image__outer-circle__inner-circle {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 57%;
      height: 57%;
      text-align: center;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 100%;
      font-size: 1vw; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle__inner-circle {
          font-size: 3vw; } }

.topSection {
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  max-width: 1280px;
  margin: auto;
  /*&__vertical-line {
    position: absolute;
    width: 2px;
    height: 50px;
    border-left: 2px solid #ffcc99;
  }*/ }
  @media screen and (max-width: 640px) {
    .topSection {
      padding-left: 0;
      padding-right: 0;
      padding-top: 10vh; } }
  .topSection__title {
    font-size: 3vw;
    display: -webkit-flex;
    display: flex; }
    @media screen and (max-width: 640px) {
      .topSection__title {
        font-size: 5vw;
        padding-left: 24px;
        position: relative; } }
    .topSection__title__inner {
      -webkit-align-items: stretch;
      align-items: stretch;
      margin-right: 1vw; }
    .topSection__title__horizontal-line {
      -webkit-flex: 1;
      flex: 1;
      border-top: 1px solid #000;
      margin-right: -3vw; }
  .topSection__under-notice {
    color: red;
    margin-top: 1vw;
    font-weight: bold; }
  @media screen and (max-width: 640px) {
    .topSection .sp__horizontal-line--none {
      flex: initial;
      border-top: none;
      text-align: right;
      position: absolute;
      right: 2vw;
      margin-top: 0 !important;
      padding-top: 1.5vh; }
    .topSection__under-text {
      padding-left: 24px;
      font-size: 0.7em;
      margin-top: -5px; } }
  .topSection__content {
    border-left: 1px solid #000;
    margin-left: 8px;
    margin-right: 8px; }
    @media screen and (max-width: 640px) {
      .topSection__content {
        border-left: none;
        margin-left: 0;
        margin-right: 0; } }
    .topSection__content__inner {
      max-width: 1280px;
      margin: 0 auto; }

.topNews {
  padding: 25px 5vw 60px 5vw; }
  @media screen and (max-width: 640px) {
    .topNews {
      padding: 25px 0 30px 0; } }
  .topNews__left-border--hover {
    display: inline-block;
    visibility: hidden;
    vertical-align: top;
    width: 4px;
    height: 6vw;
    background-color: #73b4d2;
    margin-right: -5px; }
    @media screen and (max-width: 640px) {
      .topNews__left-border--hover {
        display: none; } }
  .topNews__article-box {
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: #f0f0f0; }
  .topNews__article {
    display: inline-block;
    vertical-align: top;
    width: 95%;
    align-items: center;
    height: 6vw;
    line-height: 6vw;
    text-align: center;
    border-bottom: 2px solid #fff; }
    @media screen and (max-width: 640px) {
      .topNews__article {
        height: 10vw;
        border-bottom: none;
        height: 10vh;
        line-height: 10vh;
        background-color: white;
        width: 100%; } }
    .topNews__article__date {
      float: left;
      font-size: 11px;
      margin-left: 34px; }
    .topNews__article__title {
      float: left;
      font-size: 14px;
      margin-left: 22px; }
  .topNews__all-news {
    float: right;
    font-size: 12px;
    border-bottom: 2px solid #0e1f3c;
    margin-top: 10px; }
    .topNews__all-news__link {
      color: #000 !important;
      text-decoration: none !important; }
  @media screen and (max-width: 640px) {
    .topNews__all-news--sp {
      font-size: 12px;
      border: 2px solid #0e1f3c;
      padding: 1.5vh 4vw;
      background-color: #0e1f3c; }
    .topNews__all-news__link--sp {
      color: white !important;
      text-decoration: none !important; }
    .topNews__all-news__link--sp {
      color: white !important;
      text-decoration: none !important; } }

.topPeople {
  padding: 25px 5vw 60px 5vw; }
  @media screen and (max-width: 640px) {
    .topPeople {
      padding: 25px 0 30px 0; } }
  .topPeople__person {
    float: left;
    width: 50%;
    position: relative; }
    @media screen and (max-width: 640px) {
      .topPeople__person {
        clear: both;
        width: 100%; } }
    .topPeople__person__image {
      height: auto;
      width: 100%;
      z-index: 1; }
      @media screen and (max-width: 640px) {
        .topPeople__person__image {
          width: 100%;
          height: 73vw;
          margin-top: 0.5vh; } }

.scroll-to-top {
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }
  .scroll-to-top__inner {
    color: #000 !important;
    font-size: 1.6vw; }

.contactNav {
  width: 95%;
  margin: 2vw auto 0 auto; }
  .contactNav__title {
    width: 28vw;
    text-align: center; }
  .contactNav__main-title {
    color: white;
    text-align: center;
    padding-top: 1vw;
    font-size: 1.5vw; }
  .contactNav__sub-title {
    color: white;
    text-align: center;
    font-size: 0.5vw; }
  .contactNav__item {
    border: 1px solid gray;
    width: 100%; }

.contact-page__title {
  margin-left: 3vw; }

.contentBorder {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd; }

.contactNav__inner {
  width: 65%;
  margin: 0 auto; }
  .contactNav__inner__title {
    font-size: 1.5vw;
    font-weight: bold; }

.contactForm {
  padding-top: 3vw;
  padding-bottom: 6vw; }
  .contactForm__item {
    margin: 2.5vw auto 0 auto;
    width: 70%; }
    @media screen and (max-width: 640px) {
      .contactForm__item {
        margin: 2.5vw 0 2.5vw 4vw;
        width: 100%; } }
    .contactForm__item__btn {
      text-align: center;
      margin-top: 3.5vw; }
  .contactForm__form-label {
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    width: 12vw; }
    @media screen and (max-width: 640px) {
      .contactForm__form-label {
        width: 18vw;
        font-size: 2.5vw; } }
  .contactForm__form {
    width: 80%;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 2.3vw; }
    @media screen and (max-width: 640px) {
      .contactForm__form {
        height: 5vw;
        width: 60%; } }
  .contactForm__form-require {
    height: 15vw; }
    @media screen and (max-width: 640px) {
      .contactForm__form-require {
        height: 20vw; } }
  .contactForm__form-select {
    font-size: 1.6vw; }
  .contactForm__btn {
    height: 3vw;
    width: 10vw;
    line-height: 3vw;
    background-color: #0e1f3c;
    border-radius: 0.5vw;
    border: none;
    color: white;
    font-size: 1.5vw; }
    @media screen and (max-width: 640px) {
      .contactForm__btn {
        height: 8vw;
        line-height: 8vw;
        width: 20vw;
        font-size: 3vw; } }

.form-label--alignTop {
  vertical-align: top; }

@media screen and (max-width: 640px) {
  .contact--sp__horizontal-line--none {
    display: none; } }

@media screen and (max-width: 640px) {
  .contact__title--sp {
    font-size: 5vw; } }

.UpperImage {
  width: 100vw;
  z-index: 1; }

.aboutContent {
  border: 1px solid gray;
  margin: 0 5vw;
  z-index: 2;
  position: relative;
  bottom: 10vw;
  background-color: white; }

.aboutUpperSection {
  padding: 5vw 4vw 2vw 10vw; }
  .aboutUpperSection__title {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    font-size: 1.5vw; }
    @media screen and (max-width: 640px) {
      .aboutUpperSection__title {
        display: block;
        margin-bottom: 1vw;
        font-size: 3vw; } }
  .aboutUpperSection__content {
    display: inline-block;
    width: 80%;
    padding-left: 5vw;
    padding-top: 0.5vw;
    padding-bottom: 3vw; }
  .aboutUpperSection__item {
    font-size: 1.2vw;
    padding-bottom: 0.5vw; }
    @media screen and (max-width: 640px) {
      .aboutUpperSection__item {
        font-size: 2.5vw; } }

.aboutLowerSection__gmap {
  height: 25vw; }
  @media screen and (max-width: 640px) {
    .aboutLowerSection__gmap {
      height: 35vw; } }

.success__message {
  margin: 10vw auto;
  text-align: center; }
  .success__message__text {
    font-weight: bold;
    margin-top: 1vw; }

.failure__message {
  margin: 10vw auto;
  text-align: center; }
  .failure__message__text {
    font-weight: bold;
    margin-top: 1vw; }

.people {
  padding: 30px 3vw 60px 3vw;
  max-width: 1280px; }
  @media screen and (max-width: 640px) {
    .people {
      padding: 20px 0 40px 0; } }
  .people__person {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 6vw; }
    @media screen and (max-width: 640px) {
      .people__person {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-bottom: 8vw; } }
    .people__person__image {
      width: 40%; }
      @media screen and (max-width: 640px) {
        .people__person__image {
          width: 100%; } }
      .people__person__image img {
        width: 100%; }
    .people__person__text {
      width: 60%;
      padding-left: 3vw; }
      @media screen and (max-width: 640px) {
        .people__person__text {
          width: 100%;
          padding: 20px 6vw 0 6vw; } }

.peoplePersonText__name {
  font-size: 2vw; }
  @media screen and (max-width: 640px) {
    .peoplePersonText__name {
      font-size: 4vw; } }
  .peoplePersonText__name__roman {
    margin-left: 2vw; }

.peoplePersonText__info {
  font-size: 1.3vw;
  padding-top: 12px; }
  @media screen and (max-width: 640px) {
    .peoplePersonText__info {
      font-size: 2vw; } }
