* {
  -webkit-text-size-adjust: 100%;
}

.top {
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// degub
body {
  background-color: white;
}

.logo {
  width: 52px;
  height: 52px;
  &__image {
    max-width: 100%;
  }
}

.hidden-pc {
  display: none;
  @include media-query(mobile) {
    display: inherit; // 親要素のdisplay値になるから注意
  }
}

.hidden-sp {
  @include media-query(mobile) {
    display: none;
  }
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

a.link-underline--cancel {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: gray;
  }
}


// bootstrapの上書き
.nav > li > a {
  text-decoration: none;
}
.nav-tabs > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs {
  text-align:center;
}

.topProjectIndentXxs {
  padding-left: 0.5vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}

.topProjectIndentXs {
  padding-left: 1.5vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}

.topProjectIndentSm {
  padding-left: 3vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}

.topProjectIndentMd {
  padding-left: 4.2vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}

.topProjectIndentLg {
  padding-left: 6.3vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}

.topProjectIndentXlg {
  padding-left: 7.8vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}

.topProjectIndentXxlg {
  padding-left: 9.3vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}

.topProjectIndentXxxlg {
  padding-left: 10.8vw;
  @include media-query(mobile) {
    padding-left: 0;
  }
}


.topProjectPaddingXxs {
  padding-right: 3vw;
  @include media-query(mobile) {
    padding-right: 0;
  }
}

.topProjectPaddingXs {
  padding-right: 5vw;
  @include media-query(mobile) {
    padding-right: 0;
  }
}

.topProjectPaddingSm {
  padding-right: 6.5vw;
  @include media-query(mobile) {
    padding-right: 0;
  }
}

.topProjectPaddingMd {
  padding-right: 8vw;
  @include media-query(mobile) {
    padding-right: 0;
  }
}
.topProjectPaddingLg {
  padding-right: 10vw;
  @include media-query(mobile) {
    padding-right: 0;
  }
}

.topProjectPaddingXlg {
  padding-right: 11vw;
  @include media-query(mobile) {
    padding-right: 0;
  }
}
