.peoplePage {
}

.people {
  padding: 30px 3vw 60px 3vw;
  max-width: $top-inner-max-width;
  @include media-query (mobile) {
    padding: 20px 0 40px 0;
  }
  &__person {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 6vw;
    @include media-query (mobile) {
      -webkit-flex-direction: column;
      flex-direction: column;
      padding-bottom: 8vw;
    }
    &__image {
      flex-grow: 1;
      img {
        width: 100%;
      }
    }
    &__text {
      flex-grow: 1;
      padding-left: 3vw;
      @include media-query (mobile) {
        padding: 20px 6vw 0 6vw;
      }
    }
  }
}

.peoplePersonText {
  &__name {
    font-size: 2vw;
    @include media-query (mobile) {
      font-size: 4vw;
    }
    &__kanji {
    }
    &__roman {
      margin-left: 2vw;
    }
  }
  &__info {
    font-size: 1.3vw;
    padding-top: 12px;
    @include media-query (mobile) {
        font-size: 2vw;
    }
    &__title {

    }
    &__desc {

    }
  }
}
